main {
    flex: 1
}

header {
    background-color: blue;
    padding: 20px 0;
}

html, body {
    height: 100%;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, san-serif;
    display: flex;
    flex-direction: column;
}

nav#top ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    padding: 1rem;

 }

 

 nav#top img {
    max-width: 10% ; /* Adjust the percentage to control image size */
    height: auto ;
    padding: 2rem ;
}

nav#top a {
    list-style: none ;
    text-decoration: none ;
    color: blue;
    font-family: "Arial";
    text-transform: uppercase ;
    letter-spacing: -1px ;
    font-weight: bold;
    font-size: 24px ;
    padding-right: 8rem ;
    margin-left: 4rem;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.menu-item {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: darkblue ; 
    text-decoration: none; 
    font-weight: none;
} 


header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;         /* centers whole nav if it's narrower than header */
  gap: .01rem;                       /* consistent spacing between items */
  flex-wrap: wrap;                 /* optional: allow wrapping on smaller screens */
}

header nav ul li a {
  display: inline-block;
  padding: 0.5rem 1rem;            /* nice click area without forcing width */
  white-space: nowrap;
  text-decoration: none;
  color: #007BFF;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #3399FF;
}

.navbar .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

/*Removes Caret*/ 
.dropdown-toggle::after {
  display: none !important;
}

/*Smooth transition effect */
.dropdown-menu.custom-dropdown{
  transition: all 0.3s ease;
  background-color:black;
  color: blue;
  border: none;
}

/* Change link colors */
.dropdown-menu.custom-dropdown .dropdown-item {
  color: #007BFF;
}

.dropdown-menu.custom-dropdown .dropdown-item:hover{
  background-color:black;
  color: #3399FF;
}



footer {
        display: grid;
        grid-template-columns: 1fr auto; /* Left section takes available space, right section is auto-sized */
        align-items: center;
        background-color: black;
        color: blue;
        padding: 20px;
        font-size: 14px;
    }

.spacer{
  background-color: blue;
}
.contact-info p{
  color: blue;
}

.contact-info a{
  color: blue;
}

.contact-info a:hover{
  color: #3399FF;
}

.col-md-6 text-md-end p{
  color: blue !important;
}

.footer-right {
        text-align: right;
}
    
.footer-right a {
        color: blue;
    }
 form{
    max-width: 50%
 }