h1 {
  text-align: center;  
}

.about-block{
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.about-block-reverse{
  flex-direction: row-reverse;
  text-align: right;
}

.about-image{
  max-width: 45%;
  height: auto;
  border-radius: 8px; 
  object-position: left;
}

.about-image-reverse{
  max-width: 45%;
  height: auto;
  border-radius: 8px; 
  object-position: right;
}

.info-text{
  flex: 1;
  min-width: 250px;
}
.about-class{
  animation-name: slide-in;
  animation-duration: 3s;
  animation-iteration-count: infinite;
   
}